.footer2
{
  background-color: #1a252f;
  padding: 20px;
  color: white;

}
.footer1{
  background-color: #2c3e50;
  color: #fff;
  justify-content: center;
  text-align: center;
  padding: 40px;
  margin: 0;
}
.fa-brands{
  border: 1px solid white;
  border-radius: 50%;
  width: 38px;
  height: 38px;
  padding: 10px;

}
.fa-solid{
  border: 1px solid white;
  border-radius: 50%;
  width: 38px;
  height: 38px;
  padding: 10px;
}

