<div class="w-100 colorfooter footer1 ">
  <div class="container py-5">
  <div class="row ">
      <div class="col-md-4">
          <div class="item text-center p-2 ">
              <h2>LOCATION</h2>
              <p>2215 John Daniel Drive</p>
              <p>Clark, MO 65243</p>
           </div>

      </div>
      <div class="col-md-4">
          <div class="contac text-center  p-2  ">
              <h2>AROUND THE WEB</h2>
              <div class="icons">
                <i class="fa-brands fa-facebook border rounded-circle icon mx-1"></i>
                <i class="fa-brands fa-twitter border rounded-circle icon mx-1"></i>
                <i class="fa-brands fa-linkedin-in border rounded-circle icon mx-1"></i>
                <i class="fa-solid fa-globe border rounded-circle icon mx-1"></i>
              </div>
          </div>

      </div>
      <div class="col-md-4 ">
          <div class="item text-center p-2 ">
              <h2>ABOUT FREELANCER</h2>
              <p>Freelance is a free to use, licensed Bootstrap theme created by Route</p>
          </div>

  </div>
</div>
</div>

</div>
<div class="footerr text-center  ">
  <div class="footer2 ">Copyright © Your Website 2021</div>
</div>
