.about{
  background-color:#1abc9c;
  color: white;
  /* height: 100%; */
/* padding: 180px; */
display: flex;
align-items: center;
min-height: 100vh;
}
.iconss{
  border: 2px solid white;
  width: 85px;

}

.lin{
  font-weight: bolder!important;
  font-size: 2.5rem!important;
}
.about2{
  font-size: 2.5rem!important;
  text-transform: uppercase!important;
  font-weight: bolder!important;
}


