.nav,.foot
{
    background-color: #2c3e50 !important;
}
.back-col
{
    background-color: #1abc9c;
}
.line-wrapper {
    position: relative;
}

.line-wrapper::before,
.line-wrapper::after {
    content: "";
    display: block;
    background-color: #2c3e50;
    height: 5px;
    width:100px;
    position: absolute;
    top: 50%;
}

.line-wrapper::before {
    left: 30px;
}

.line-wrapper::after {
    right: 30px;
}