<div class="home d-flex justify-content-center align-items-center back-col w-100 ">
  <div class="bg-transparent border-0 d-flex flex-column p-5 justify-content-center align-items-center">
      <div class="im mb-3 w-75"><img src="../../assets/images/avataaars.svg" class="w-100"></div>
      <div class="title d-block">
        <h1 class="start" >START FRAMEWORK</h1>
    </div>
    <div class="title line-wrapper mb-3"><i class="fa-solid fa-star star"></i></div>
    <p class="title">Graphic Artist - Web Designer - Illustrator</p>
    </div>
</div>
