.container-fluid {
    /* min-height: 100vh; Set a minimum height to take up the full viewport height */
    display: flex;
    flex-direction: column;
}
.home{

  height: 100vh;
}

.min-vh-100 {
    /* flex: 1; Allow the container to grow to fill available space */
}
.title
{
    color: white;
}
.line-wrapper::before,
.line-wrapper::after {
    background-color: white;
}
.start{
  font-size: 2.5rem!important;
}



